*{
margin: 0;
background: #002000;
}


#ccanva{
top: 2vh;
position: absolute;
margin-left: 1vw;
border: solid 0.7vw black;
min-width: 95vw;
max-width: 95vw;
min-height: 90vh;
max-height: 90vh;
z-index: 1;
}
#cnvhud{
position: absolute;
top: 2vh;
margin-left: 1vw;
border: solid 0.7vw black;
min-width: 95vw;
max-width: 95vw;
min-height: 90vh;
max-height: 90vh;
background: none;
z-index: 2;
}
#cnvmenu{
position: absolute;
top: 2vh;
margin-left: 1vw;
border: solid 0.7vw black;
min-width: 95vw;
max-width: 95vw;
min-height: 90vh;
max-height: 90vh;
z-index: 3;
background: green;
}
#canvasco{
position: absolute;
top: 2vh;
margin-left: 1.5vw;
border: solid 0.7vw black;
min-width: 95vw;
max-width: 95vw;
min-height: 90vh;
max-height: 90vh;
z-index: 1;
background: none;
}
#abc{
position: absolute;
top: 18vh;
right: 19vw;
margin-top: 5vh;
border: solid 0.6vw black;
border-radius: 5%;
min-width: 18vw;
max-width: 18vw;
min-height: 65vh;
max-height: 65vh;
z-index: 4;
background: #007000;
}
#abc2{
position: absolute;
top: 18vh;
left: 19vw;
margin-top: 5vh;
border: solid 0.6vw black;
border-radius: 5%;
min-width: 18vw;
max-width: 18vw;
min-height: 65vh;
max-height: 65vh;
z-index: 4;
background: #007000;
}

#p1test2{
position: fixed;
background: none;
left: 3vw;
top: 22vh;
z-index: 4;
min-width: 41vw;
max-width: 41vw;
min-height: 66vh;
max-height: 66vh;
}
#hat{
top:24vh; left:17vw; min-width:6vw;max-width:6vw;
position: fixed;
background: none;
z-index: 5;
min-height: 10vh;
max-height: 10vh;
}
#berma{
top:48.5vh; left:15vw;  min-width:12.2vw;max-width:12.2vw; min-height:25vh;max-height:25vh;
position: fixed;
background: none;
z-index: 5;
}
#shirt{
top:31vh; left:12vw; min-width:16vw;max-width:16vw; min-height:30vh;max-height:30vh; transform: rotate(-2deg);
position: fixed;
background: none;
z-index: 5;
}

#rardcor{
  border: solid black 0.3vw;
  top: 70vh;
  left: 39vw;
  position: fixed;
  background: white;
  z-index: 5;
  min-width: 20vw;
  max-width: 20vw;
  min-height: 5vh;
  max-height: 5vh;
font-size: 5vh;
text-align: center;
}

.aa1{
padding: 0.1vw;
  border: solid 0.3vw #003000;
  border-radius: 2%;
  color: white;
  background: #005000;
  z-index: 6;
  position: fixed;
  top: 63.5vh;
  font-size: 4vh;
}
.aa2{
  border: solid 0.5vw #005000;
  border-radius: 10%;
  color: white;
  background: #005000;
  z-index: 6;
  position: fixed;
  top: 24.9vh;
  left: 69vw;
  font-size: 4vh;
}
.a2{
padding-bottom:1vh;
padding-top:1vh;
padding-left: 23vw;
padding-right: 23vw;
background: #005000;
color: yellow;
border: solid black 0.5vw;
z-index: 5;
position: fixed;
top: 11vh;
font-size: 7vh;
}
.af{
padding: 0.34vw;
background: none;
color: yellow;
border: solid black 0.2vw;
}
.af1{
padding: 0.34vw;
background: none;
color: white;
border: solid black 0.2vw;
}
.af2{
padding: 0.43vw;
background: none;
color: white;
border: solid black 0.3vw;
}
#oo1{
  color: white;
  background: none;
  z-index: 4;
  position: fixed;
  top: 34vh;
  left: 37vw;
  font-size: 2.5vh;
}
#oo2{
  text-align: center;
  color: white;
  background:#005000;
  z-index: 4;
  position: fixed;
  min-width: 15.9vw;
  max-width: 15.9vw;
  top: 34vh;
  left: 45.5vw;
  font-size: 2.5vh;
}
#oo3{
  text-align: center;
  color: white;
  background:none;
  z-index: 4;
  position: fixed;
  min-width: 17.5vw;
  max-width: 17.5vw;
  min-height: 15.9vw;
  max-height: 15.9vw;
  top: 31.5vh;
  left: 69.3vw;
  font-size: 2.5vh;
}

#ol1{
  text-align: center;
  color: white;
  background:none;
  z-index: 4;
  position: fixed;
  min-width: 2.5vw;
  top: 39.8vh;
  left: 58.7vw;
  font-size: 2.5vh;
}
#ol2{
border
  text-align: center;
  color: white;
  background:none;
  z-index: 4;
  position: fixed;
  min-width: 2.5vw;
  top: 44.8vh;
  left: 58.7vw;
  font-size: 2.5vh;
}
#ol3{
  text-align: center;
  color: white;
  background:none;
  z-index: 4;
  position: fixed;
  min-width: 2.5vw;
  top: 49.8vh;
  left: 58.7vw;
  font-size: 2.5vh;
}
#ol31{
  text-align: center;
  color: white;
  background:none;
  z-index: 4;
  position: fixed;
  min-width: 2.5vw;
  top: 54.8vh;
  left: 58.7vw;
  font-size: 2.5vh;
}
#ol4{
  text-align: center;
  color: white;
  background:none;
  z-index: 4;
  position: fixed;
  min-width: 2.5vw;
  top: 39.8vh;
  left: 45.8vw;
  font-size: 2.5vh;
}
#ol5{
  text-align: center;
  color: white;
  background:none;
  z-index: 4;
  position: fixed;
  min-width: 2.5vw;
  top: 44.8vh;
  left: 45.8vw;
  font-size: 2.5vh;
}
#ol6{
  text-align: center;
  color: white;
  background:none;
  z-index: 4;
  position: fixed;
  min-width: 2.5vw;
  top: 49.8vh;
  left: 45.8vw;
  font-size: 2.5vh;
}
#ol61{
  text-align: center;
  color: white;
  background:none;
  z-index: 4;
  position: fixed;
  min-width: 2.5vw;
  top: 54.8vh;
  left: 45.8vw;
  font-size: 2.5vh;
}



#ooo1{
border: solid 1vh black;
  text-align: center;
  color: white;
  background:#005000;
  z-index: 3;
  position: fixed;
  min-width: 24.5vw;
  max-width: 24.5vw;
  min-height: 13.5vw;
  max-height: 13.5vw;
  top: 33vh;
  left: 36.5vw;
  font-size: 3vh;
}



#o4{
  color: white;
  background: none;
  z-index: 6;
  position: fixed;
  top: 74vh;
  left: 45vw;
  font-size: 4vh;
}
#o5{
  color: white;
  background: none;
  z-index: 6;
  position: fixed;
  top: 74vh;
  left: 45vw;
  font-size: 4vh;
}
#o6{
  color: white;
  background: none;
  z-index: 6;
  position: fixed;
  top: 74vh;
  left: 45vw;
  font-size: 4vh;
}
#a3{
border: solid 1vh black;
border-radius: 7%;
padding: 2vh;
background: yellow;
z-index: 6;
position: fixed;
top: 79.5vh;
font-size: 5vh;
}
#a44{
color: red;
padding: 2vh;
background: none;
z-index: 4;
position: fixed;
top: 12.0vh;
left: 80vw;
font-size: 6vh;
}
#a45{
color: white;
border: solid 1vh black;
border-radius: 7%;
padding: 2vh;
padding-left: 2.5vw;
padding-right: 2.5vw;
background: black;
z-index: 3;
position: fixed;
top: 14vh;
left: 80vw;
font-size: 2vh;
opacity: 0.5;
}
#a46{
color: red;
padding: 2vh;
background:none;
z-index: 3;
position: fixed;
top: 12.5vh;
left: 85vw;
font-size: 6vh;
}
#menuzera{
  position: absolute;
  left: 49.5vw;
  top: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.d1{
position: absolute;
left: 49.5vw;
top: 1vh;
display: flex;
flex-direction: column;
align-items: center;
}

#azuscuro{
position: fixed;
top: 12.4vh;
left: 9vw;
min-width: 81vw;
max-width: 81vw;
min-height: 80vh;
max-height: 80vh;
z-index: 2;
opacity: 0%;
}
#marelo{
position: fixed;
top: 13.1vh;
left: 30vw;
min-width: 21vw;
max-width: 21vw;
min-height: 20vh;
max-height: 20vh;
z-index: 4;
opacity: 30%;
}
